@{
    Layout = null;
}

@model IEnumerable<TrainingProgramHead>
@inject IHtmlLocalizer<SharedResource> LocalizerShared
@inject IViewLocalizer Localizer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
    <link rel="stylesheet" href="~/css/basestyle.css" />

</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-11 p-0">
                    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                        <a style="color:#ffffffff" class="navbar-brand" asp-controller="Home" asp-action="Index"><h2> PerfectBuild</h2></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarMenu">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a style="color:#ffffffff" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuActivity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @LocalizerShared["Activity"]
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuActivity">
                                        <a class="dropdown-item" asp-controller="Activity" asp-action="DailyParameters">@LocalizerShared["AddBodyParams"]</a>
                                        <a class="dropdown-item" href="#">@LocalizerShared["AddWorkout"]</a>
                                        <a class="dropdown-item" href="#">@LocalizerShared["StartTraining"]</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a style="color:#ffffffff" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuDiary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @LocalizerShared["Diary"]
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuDiary">
                                        <a class="dropdown-item" href="#">@LocalizerShared["TrainingDiary"]</a>
                                        <a class="dropdown-item" href="#">@LocalizerShared["BodyStatistics"]</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a style="color:#ffffffff" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @LocalizerShared["Settings"]
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuSettings">
                                        <a class="dropdown-item" asp-controller="Category" asp-action="List">@LocalizerShared["Categories"]</a>
                                        <a class="dropdown-item" asp-controller="Exercise" asp-action="List">@LocalizerShared["Exercises"]</a>
                                        <a class="dropdown-item" asp-controller="TrainingProgram" asp-action="List">@LocalizerShared["TrainingProgram"]</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a style="color:#ffffffff" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @LocalizerShared["Profile"]
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuProfile">
                                        <a class="dropdown-item" asp-controller="Profile" asp-action="Modify">@LocalizerShared["UserData"]</a>
                                        <a class="dropdown-item" href="#">@LocalizerShared["PersonalTrainingPlan"]</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-1 bg-primary p-1 text-light">@await Component.InvokeAsync("LoginPanel")</div>
            </div>
        </div>
    </header>
        <div class="bg-primary text-white"><h3>@Localizer["TittleTrainigProgram"]</h3></div>
        <div class="container m-1 p-1">
            <div class="row justify-content-sm-between">
                <div class="col-sm-12">
                    <table class="table table-primary">
                        <tr>
                            <th>@Localizer["TrainigProgramName"]</th>
                            <th>@Localizer["Category"]</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var trPr in Model)
                        {
                            <tr>
                                <td>@trPr.Name</td>
                                <td>@trPr.Category.Name</td>
                                <td><a class="btn btn-primary" asp-action="AddModifyTrainingProgram" asp-route-id="@trPr.Id">@LocalizerShared["ModifyButton"]</a></td>
                                <td><a class="btn btn-danger" asp-action="DeleteTrainingProgram" asp-route-id="@trPr.Id">@LocalizerShared["DeleteButton"]</a></td>
                                <td><input hidden="hidden" value="@trPr.Id" name="headId" /></td>
                            </tr>
                        }
                    </table>
                    <div><a class="btn btn-primary" asp-action="AddModifyTrainingProgram">@LocalizerShared["AddButton"]</a></div>
                </div>
            </div>
        </div>
        <div class="container m-1 p-1">
            <div class="row justify-content-sm-between">
                <div class="col-sm-12">
                    <table id="TableProgram" class="table table-primary">
                        <tr>
                            <th>#</th>
                            <th>@Localizer["Exercise"]</th>
                            <th>@Localizer["Set"]</th>
                            <th>@Localizer["Weight"]</th>
                            <th>@Localizer["Amount"]</th>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validate/jquery.validate.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var cssData = {
                "background-color":'#255180'
            };
            $('tr').has('td').first().css(cssData);
            GetSpec(@Model.First().Id);

            $('tr').has('td').bind("mouseenter mouseout",handleMouse);
            function handleMouse(event) {

                if (event.type == "mouseout") {

                    cssData["background-color"] = "";
                }
                if (event.type == "mouseenter") {

                    cssData["background-color"] = "#255180";
                }
                $(this).css(cssData);
            };
        });

        $('tr').has('td').click(function (e) {
            $('tr').has('td').css('font-size', '1em');
            GetSpec($(this).find("input[name=headId]").val());
            var elements = $(this);
             $(elements).css('font-size', '1.2em');

        });

            function GetSpec(headId) {
                $.getJSON('/TrainingProgram/GetSpecLine', { headId: headId }, function (spec) {
                    $('#TableProgram').find('td').remove();
                 $.each(spec, function (i, item) {
                    var row = $('<tr>').
                        append('<td>' + (++i) + '</td>').
                        append('<td>' + item.exercise + '</td>').
                        append('<td>' + item.set + '</td>').
                        append('<td>' + item.weight + '</td>').
                        append('<td>' + item.amount + '</td>').
                        append('</tr>');

                    $('#TableProgram').append(row);
                });
            });
            };
    </script>

</body>
</html>







