@{
    Layout = null;
}

@model IEnumerable<TrainingProgramHead>
@inject IHtmlLocalizer<SharedResource> LocalizerShared
@inject IViewLocalizer Localizer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
          asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
    <link rel="stylesheet" href="~/css/basestyle.css" />

</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10 p-0">
                    @await Html.PartialAsync("_MenuPanelPartial")
                </div>
                <div class="col-1 bg-primary p-1 text-light">@await Component.InvokeAsync("LoginPanel")</div>
                <div class="col-1 bg-primary p-1 text-light">@await Html.PartialAsync("_SelectLanguagePartial")</div>
            </div>
        </div>
    </header>
    <div class="bg-primary text-white"><h3>@Localizer["TittleTrainigProgram"]</h3></div>
    <div class="validation" asp-validation-summary="All"> </div>
    <div class="container-fluid  m-1 p-1">
        <div class="row justify-content-sm-between">
            <div class="col-sm-7">
                <div class="container-fluid  m-1 p-1">
                    <div class="row justify-content-sm-between">
                        <div class="col-sm-12">
                            <table class="table table-hover">
                                <tr>
                                    <th>@Localizer["TrainigProgramName"]</th>
                                    <th>@Localizer["Category"]</th>
                                    <th></th>
                                    <th><a class="btn btn-primary" asp-action="AddModifyTrainingProgram">@LocalizerShared["AddButton"]</a></th>
                                </tr>
                                @foreach (var trPr in Model)
                                {
                                    <tr>
                                        <td>@trPr.Name</td>
                                        <td>@trPr.Category.Name</td>
                                        <td><a class="btn btn-primary" asp-action="AddModifyTrainingProgram" asp-route-id="@trPr.Id">@LocalizerShared["ModifyButton"]</a></td>
                                        <td><a class="btn btn-danger" asp-action="DeleteTrainingProgram" asp-route-id="@trPr.Id">@LocalizerShared["DeleteButton"]</a></td>
                                        <td><input hidden="hidden" value="@trPr.Id" name="headId" /></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="container-fluid  m-1 p-1">
                    <div class="row justify-content-sm-between">
                        <div class="col-sm-12">
                            <table id="TableProgram" class="table table-hover">
                                <tr>
                                    <th>#</th>
                                    <th>@Localizer["Exercise"]</th>
                                    <th>@Localizer["Set"]</th>
                                    <th>@Localizer["Weight"]</th>
                                    <th>@Localizer["Amount"]</th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validate/jquery.validate.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var cssData = {
                "background-color": '#f5f5f5'
            };

            $('tr').has('td').first().css(cssData);
            GetSpec($('tr').has('td').first().find("input[name=headId]").val());

            $('tr').has('td').bind("mouseenter mouseout", handleMouse);
            function handleMouse(event) {

                if (event.type == "mouseout") {

                    cssData["background-color"] = "";
                }
                if (event.type == "mouseenter") {

                    cssData["background-color"] = "#f5f5f5";
                }
                $(this).css(cssData);
            };
        });

        $('tr').has('td').click(function (e) {
            $('tr').has('td').css('font-size', '1em');
            GetSpec($(this).find("input[name=headId]").val());
            var elements = $(this);
            $(elements).css('font-size', '1.2em');

        });

        function GetSpec(headId) {
            $.getJSON('/TrainingProgram/GetSpecLine', { headId: headId }, function (spec) {
                $('#TableProgram').find('td').remove();
                $.each(spec, function (i, item) {
                    var row = $('<tr>').
                        append('<td>' + (++i) + '</td>').
                        append('<td>' + item.exercise + '</td>').
                        append('<td>' + item.set + '</td>').
                        append('<td>' + item.weight + '</td>').
                        append('<td>' + item.amount + '</td>').
                        append('</tr>');

                    $('#TableProgram').append(row);
                });
            });
        };
    </script>

</body>
</html>







