@model Category
@inject IHtmlLocalizer<SharedResource> LocalizerShared
@inject IViewLocalizer Localizer

@{
    Layout = "~/Views/Shared/_LayoutWithoutMenuAndLge.cshtml";
}

@if (ViewBag.Tittle != null)
{
    <div class="bg-primary text-white"><h3>&ensp;@Localizer[ViewBag.Tittle]</h3></div>
}
    <form method="post" asp-action="Change" class="px-2">
        <div class="form-group">
            <span asp-validation-for="Name"></span>
            <input asp-for="@Model.Id" hidden="hidden" />
            <label asp-for="@Model.Name">@LocalizerShared["Category"]</label>
            <input class="form-control" asp-for="@Model.Name" value="@Model.Name" />
        </div>
        <button class="btn btn-primary">@LocalizerShared["OkButton"]</button>
        <a class="btn btn-danger" asp-action="list" asp-controller="Category">@LocalizerShared["CancelButton"]</a>
    </form>