@model ExerciseRecordsChartViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> LocalizerShared

@{
    Layout = "_LayoutCanvasStatistics";
}
<div class="bg-primary text-white"><h3>&ensp;@Localizer["Tittle"]</h3></div>
<div class="container-fluid px-2">
    <div class="row">
        <div class="col-12">
            <form method="post" asp-action="ExerciseStat">
                <div class="row">
                    <div class="col-3">
                        <input asp-for="@Model.UserId" hidden="hidden" value="@Model.UserId" />
                        <label for="@Model.DayFrom"></label>
                        <input asp-for="@Model.DayFrom" type="datetime-local" class="form-control">
                    </div>
                    <div class="col-3">
                        <label for="@Model.DayTo"></label>
                        <input asp-for="@Model.DayTo" type="datetime-local" class="form-control">
                    </div>
                </div>
                <div class="row form-row p-2">
                    <button class="btn btn-primary" asp-action="ExerciseRecords">@LocalizerShared["ShowButton"]</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("CanvasJSScriptPartial")
