@model ExerciseRecordsChartViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> LocalizerShared

@{
    Layout = "_LayoutCanvasStatistics";
}

<div class="container m-0 p-3">
    <div class="row p-1">
        <div class="col-12">
            <form method="post" asp-action="ExerciseStat">
                <div class="form-row">
                    <div class="form-group col-3">
                        <input asp-for="@Model.UserId" hidden="hidden" value="@Model.UserId" />
                        <label for="@Model.DayFrom"></label>
                        <input asp-for="@Model.DayFrom" type="date" class="form-control">
                    </div>
                    <div class="form-group col-3">
                        <label for="@Model.DayTo"></label>
                        <input asp-for="@Model.DayTo" type="date" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-primary" asp-action="ExerciseRecords">@LocalizerShared["Show"]</button>
                </div>

            </form>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("CanvasJSScriptPartial")
