@model ExerciseStatisticsChartViewModel
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> LocalizerShared

@{
    Layout = "_LayoutCanvasStatistics";
}
<div class="bg-primary text-white"><h3>@Localizer["Tittle"]</h3></div>
<div class="container m-0 p-3">
    <div class="row p-1">
        <div class="col-12">
            <form method="post" asp-action="ExerciseStat">
                <div class="validation" asp-validation-summary="All"> </div>
                <div class="form-row">
                    <div class="form-group col-3">
                        <input asp-for="@Model.UserId" hidden="hidden" value="@Model.UserId" />
                        <label for="@Model.DayFrom"></label>
                        <input asp-for="@Model.DayFrom" type="datetime-local" class="form-control">
                    </div>
                    <div class="form-group col-3">
                        <label for="@Model.DayTo"></label>
                        <input asp-for="@Model.DayTo" type="datetime-local" class="form-control">
                    </div>
                    <div class="form-group col-3">
                        @if (Model.Exercises != null)
                        {
                            <select asp-for="Exercise" asp-items="@Model.Exercises">
                            </select>
                        }
                        else
                        {
                            <label for="exercise">Exercises:</label>
                            <select name="not found" id="exercise">
                            </select>
                        }
                    </div>
                </div>
                <div class="form-row">
                    <button class="btn btn-primary" asp-action="ExerciseStat">@LocalizerShared["ShowButton"]</button>
                </div>

            </form>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <div id="chartContainer" style="height: 300px; width: 100%;">
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("CanvasJSScriptPartial")
