@model Exercise
@inject IHtmlLocalizer<SharedResource> LocalizerShared
@inject IViewLocalizer Localizer

<form method="post" class="form-group" asp-action="Change">
    <div class="form-group">
        <input asp-for="@Model.Id" hidden="hidden" />
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" value="@Model.Name" />
        <label asp-for="@Model.Description"></label>
        <input asp-for="@Model.Description" value="@Model.Description" />
        <label asp-for="@Model.OwnWeight">@Localizer["OwnWeight"]</label>
        <input type="checkbox" asp-for="@Model.OwnWeight" checked=@Model.OwnWeight />
    </div>
    <button class="btn btn-primary">@LocalizerShared["Ok"]</button>  
    <button class="btn btn-secondary">@LocalizerShared["Cancel"]</button>  
</form>