@inject IHtmlLocalizer<SharedResource> Localizer

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a style="color:#ffffffff" class="navbar-brand" asp-controller="Home" asp-action="Index"><h2> PerfectBuild</h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a style="color:#ffffffff" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuActivity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Activity"]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuActivity">
                    <a class="dropdown-item" asp-controller="Activity" asp-action="DailyParameters">@Localizer["AddBodyParams"]</a>
                    <a class="dropdown-item" asp-controller="TrainingJournal" asp-action="AddTrainingManually">@Localizer["AddWorkout"]</a>
                    <a class="dropdown-item" href="#">@Localizer["StartTraining"]</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a style="color:#ffffffff" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuDiary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Diary"]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuDiary">
                    <a class="dropdown-item" asp-controller="TrainingJournal" asp-action="List">@Localizer["TrainingJournal"]</a>
                    <a class="dropdown-item" href="#">@Localizer["BodyStatistics"]</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a style="color:#ffffffff" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Settings"]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuSettings">
                    <a class="dropdown-item" asp-controller="Category" asp-action="List">@Localizer["Categories"]</a>
                    <a class="dropdown-item" asp-controller="Exercise" asp-action="List">@Localizer["Exercises"]</a>
                    <a class="dropdown-item" asp-controller="TrainingProgram" asp-action="List">@Localizer["TrainingProgram"]</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a style="color:#ffffffff" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Localizer["Profile"]
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuProfile">
                    <a class="dropdown-item" asp-controller="Profile" asp-action="Modify">@Localizer["UserData"]</a>
                    <a class="dropdown-item" asp-controller="TrainingPlan" asp-action="Show">@Localizer["PersonalTrainingPlan"]</a>
                </div>
            </li>
        </ul>
    </div>
</nav>